.main-layout {

	max-width: 100vw;
	height: 100%;
	padding: 0 6rem;
	overflow-x: hidden;

	@import '../../components/Header.scss';

	.home-page {

		height: 100%;

		.banner-area {

			width: 100%;
			height: calc(100vh - 80px);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.banner-wrapper {

				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				flex: 1;

				.banner-text {

					width: 100%;

					h1 {

						line-height: 0.8;
						display: flex;
						align-items: start;
						margin-bottom: 1rem;
						width: 100%;
						justify-content: center;

						span {

							font-size: $font-size-base;
							margin-top: 0.5rem;
							margin-right: 1rem;
							color: $white;

						}

						&:first-child {

							padding-left: 1rem;

							span {

								label {

									display: inline-block;
									background-color: $shocking-green-color;
									padding: 6px;
									color: $black;
									margin-left: 4px;
									@include border-radius(2px);

								}

							}

						}

						&:last-child {

							margin-bottom: 0rem;
							justify-content: flex-end;
							color: $light-pink-color;

							span {

								display: block;
								margin-right: 0;
								margin-left: 1rem;

								&:first-child {

									text-indent: 59px;

								}

							}

						}

					}

				}

			}

			.scroll-arrow {

				display: flex;
				align-items: center;
				margin: 2rem 0 4rem 0;

				.arrow {

					border:1px solid $white;
					height: 80px;
					width: 80px;
					display: flex;
					align-items: center;
					justify-content: center;
					@include border-radius(40px);

					svg {

						height: 48px;
						width: 48px;
						color: $white;
						
					}
				}

			}

		}

		.marquee-sec {

			transform: rotateZ(-1deg);
			margin: 4rem 0;
			width: 100%;

			.marquee__inner {

				margin: 0 -6rem 0 -6rem;
				background: rgb(10, 228, 72);
				background: -moz-linear-gradient(90deg, rgba(10, 228, 72, 1) 0%, rgba(171, 255, 132, 1) 100%);
				background: -webkit-linear-gradient(90deg, rgba(10, 228, 72, 1) 0%, rgba(171, 255, 132, 1) 100%);
				background: linear-gradient(90deg, rgba(10, 228, 72, 1) 0%, rgba(171, 255, 132, 1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0ae448", endColorstr="#abff84", GradientType=1);

				.marquee__content {

					white-space: nowrap;
					vertical-align: middle;
					display: flex;
					flex-direction: row;
					align-items: center;

					h3 {

						color: $white;
						display: inline-block;
						margin: 0 1rem;
	
					}

					.star-svg{

						width: 48px;
						height: 100%;
						display: flex;
						align-items: center;

						svg {
	
							height: 48px;
							width: 48px;
		
						}

					}

				}

			}

		}

	}

}