header {

	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $black;

	// &.inner-page {

	// 	justify-content: space-between;

	// }

	.profile-pic {

		height: 42px;
		width: 42px;

		img {

			height: 42px;
			width: 42px;

		}

	}


	.menu {

		height: 100%;

		ul {

			height: 100%;
			display: flex;
			align-items: center;

			li {

				display: inline-flex;
				align-items: center;
				padding: 0 2rem;
				height: 100%;


				a {

					display: inline-block;
					color: $body-font-color;
					font-family: var(--font-secondary);
					font-size: var(--text-base);
					cursor: pointer;
					transition: color 0.6s cubic-bezier(0.25, 1, 0.5, 1);
					text-decoration: none;

					&:hover,
					&.active {

						color: $primary-color;

					}

					&.active {

						&::before {

							display: none;

						}

					}

				}

			}

		}

	}

	&.inner-page {

		justify-content: space-between;

		.profile-pic {

			height: 60px;
			width: 60px;

			img {

				height: 60px;
				width: 60px;

			}

		}

	}


}
