// Varibales
// ------------------------------------------------------------

// $body-font					: 'Playfair Display', serif;
// $heading-font				: 'Playfair Display', serif;
$body-font-color			: #19181D;

$black          			: #0A0A14;
$white          			: #FFFFFF;

$primary-color              :#EA2E49;

:root {

    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);

}

