// Varibales
// ------------------------------------------------------------

$body-font-color			: #ffe4b5;
$grey-color                 : #7c7c6f;

$black          			: #0e100f;
$white          			: #fffce1;

$orangey-color              :#ff8709;
$light-pink-color           :#fec5fb;
$shocking-green-color       :#0ae448;
$lit-green-color            :#abff84;

:root {

    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);

}

$font-size-base: 1rem;
$h1-font-size: 11.391rem;
$h2-font-size: 7.594rem;
$h3-font-size: 5.063rem;
$h4-font-size: 3.375rem;
$h5-font-size: 2.25rem;
$h6-font-size: 1.5rem;
$font-size-small :0.667rem;

